<div class="row">
  <div class="small-12 large-12 columns">
    <% if notice %>
      <div class="alert-box radius">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert-box radius">
        <%= alert %>
      </div>
    <% end %>
  </div>
</div>