<div class="row">
  <div id="logo-container" class="small-12 large-12 column">
    <%= image_tag "logo.png"%>
  </div>
</div>

<div id="main-view" class="row">
  <div id="req-container" class="small-12 large-5 column panel">
    <h3>Get Offers:</h3>
    <hr/>
    <%= render "pages/req_form" %>
  </div>

  <div id="res-container" class="small-12 large-5 column panel" >
    <h3>Response:</h3>
    <hr/>
    <div class="response">
    </div>
  </div>
</div>
